@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../fotos/fundo.jpg');
    margin-block-start: 1.67em;
    margin-top: 100px;
}

.fundoMenu {
    background-color: rgb(255 255 255 / 71%);
    padding: 35px 0px 42px 0px;
    margin: 0px 360px 0px 360px;
    border-radius: 33px;
}

hgroup h1 {
    font-size: 40px;
    color: #01b3bc;
}


input#concluir {
    background-color: #01b3bc;
    color: white;
    padding: 15px;
    
}

div#sobreExames {
    margin-left: 360px;
    margin-right: 50px;
    width: 50%;
    background-color: #ffffff85;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}

div#sobreExames h1 {
    color: #01b3bc;
}

div#corpo {
    text-align: left;
}

div#menuPrincipal h1{
    font-size: 40;
    margin-left: 690px;
    width: 10%;
    background-color: white;
    
}

#saude {
    width: 100px;
}

.titulo-img {
    position: absolute;
    margin-left: 11%;
    margin-right: auto;
    width: 120px;
}

.titulo-nome {
            border: 0px solid;
            margin-left: 42%;
            margin-right: auto;
            width: 200px;
            height: 100px;
            padding-top: 5px;
}

.titulo-h1nome {
                font-size: xxx-large;
                margin-top: 21px;
                margin-bottom: 0px;
                color: #01b3bc;
}

.titulo-botao1 {
    background-color: #01b3bc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 27px;
}

.titulo-botao1:hover {
    background-color: #005c61; 
    color: white;
}

.titulo-botao2 {
    background-color: #01b3bc; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 27px;
}

.titulo-botao2:hover {
    background-color: #004246; 
    color: white;
}

.titulo-botao3 {
    background-color: #3cd9ab; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 27px;
}

.titulo-botao3:hover {
    background-color: #1d755b;
    color: white;
}

div#marcacao {
    margin-left: 360px;
    margin-right: 50px;
    width: 50%;
    background-color: #ffffffb4;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;

}