.titulo-corpo {
    background-image: url('https://media1.thehungryjpeg.com/thumbs2/ori_112089_334a1bc9e07c0d4ba92514a0dffbf504325fdaf0_20-dark-wood-background-textures.jpg');
    color: white;
    font-size: 30px; 
    margin: 50px; 
    padding: 30px;
    text-align: center;
    font-family: monospace;
}

.titulo-caixaTexto {
    padding: 13px;
    font-size: 20px;
}

.titulo-botao {
    padding: 15px; 
    background-color: rgb(255, 255, 255);
    color: #401a06;
    font-size: larger;
    font-family: monospace;
}